axioms-flask-py==0.0.8
boto3==1.9.130
botocore==1.12.130
cffi==1.14.0
Click==7.0
cryptography==2.9.2
docutils==0.14
Flask==1.1.1
Flask-Cors==3.0.7
Flask-DotEnv==0.1.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.11.1
jmespath==0.9.4
jwcrypto==0.7
MarkupSafe==1.1.1
marshmallow==2.19.2
pip==21.1
pycparser==2.20
PyJWT==1.7.1
python-box==4.2.3
python-dateutil==2.8.0
python-dotenv==0.13.0
ruamel.yaml.clib==0.2.0
ruamel.yaml==0.16.10
s3transfer==0.2.0
setuptools==46.4.0
six==1.12.0
toml==0.10.1
urllib3==1.24.2
Werkzeug==0.16.1
